<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.boardproject.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.app.boardproject.domain.Board">
        INSERT INTO Board(num, subject, content,  hitCount, regDate, userId)
        VALUES (null,  #{subject},  #{content} ,#{hitCount}, now() , #{userId})
    </insert>

    <!-- 글 리스트-->
    <select id="listBoard" resultType="com.app.boardproject.domain.Board">
        SELECT * FROM Board
    </select>

    <!-- 글보기 -->
    <select id="readBoard" resultType="com.app.boardproject.domain.Board">
      SELECT * FROM Board WHERE num = #{num}

    </select>

    <!-- 조회수 증가 -->
    <update id="updateHitCount" parameterType="Long">
        UPDATE Board SET hitCount=hitCount+1 WHERE num = #{num}
    </update>

   <select id="dataCount" resultType="int" parameterType="hashMap">
       SELECT IFNULL(COUNT(*),0)  FROM board b Join member m ON b.userId = m.userId
   </select>

    <!-- 수정 -->
    <update id="updateBoard" parameterType="com.app.boardproject.domain.Board">
        UPDATE board SET subject=#{subject}, content=#{content}
        WHERE num=#{num}
    </update>

    <!-- 삭제 -->
    <delete id="deleteBoard" parameterType="com.app.boardproject.domain.Board">
        DELETE FROM board WHERE num=#{num}
    </delete>



</mapper>