<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.boardproject.mapper.MemberMapper">

    <select id="memberList" resultType="com.app.boardproject.domain.Member">
        SELECT * FROM member
    </select>

    <insert id="insertMember" parameterType="com.app.boardproject.domain.Member">
        INSERT INTO member(userIdx, userId, userName, userPwd, email, membership)
        VALUES (null, #{userId}, #{userName}, #{userPwd}, #{email}, 1)
    </insert>

    <select id="login" resultType="com.app.boardproject.domain.Member">
        SELECT * FROM member where userId = #{userId} and userPwd = #{userPwd}
    </select>

    <select id="selectOne" resultType="com.app.boardproject.domain.Member">
        SELECT * FROM member where userId = #{userId}
    </select>

    <update id="updateMember" parameterType="com.app.boardproject.domain.Member">
        UPDATE member SET userPwd = #{userPwd}, email = #{email} where userId = #{userId}
    </update>

    <select id="selectId" resultType="com.app.boardproject.domain.Member">
        SELECT userId FROM member where userId = #{userId}
    </select>



</mapper>
