<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.boardproject.service.MemberService">
        <insert id="insertMember" parameterType="Long">
            INSERT INTO membership(memberIdx, membership) VALUES (#{memberIdx}, 1)
        </insert>

        <insert id="insertMember1"  parameterType="com.app.boardproject.dto.Member">
            INSERT INTO member1(memberIdx, userId, userName, userPwd, email)
            VALUES (#{memberIdx}, #{userId}, #{userName}, #{userPwd}, #{email})
        </insert>

       <select id="memberSeq" resultType="Long">
         SELECT get_seq ('member_seq')
       </select>

</mapper>

